name: 3. Another Patch
permissions: write-all
on:
  schedule:
    - cron: "0 0 */3 * *"
  workflow_dispatch:

jobs:
  Patch-Instafel:
    name: Patch Instafel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-ins
        run: bash src/etc/connection.sh
      - name: Patch apk
        id: patch-ins
        if: steps.check-gh-ins.outputs.internet_error == '0'
        run: bash src/build/Instafel.sh
      - name: Releasing APK files
        id: release-ins
        if: steps.check-gh-ins.outputs.internet_error == '0'
        uses: ./.github/actions/release

