name: 3. Another Patch
permissions: write-all
on:
  schedule:
    - cron: "0 0 */3 * *"
  workflow_dispatch:

jobs:
  Patch-ReVancedXposed:
    name: Patch ReVancedXposed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-RVxposed
        run: bash src/etc/connection.sh
      - name: Patch apk
        id: patch-RVxposed
        if: steps.check-gh-RVxposed.outputs.internet_error == '0'
        run: bash src/build/ReVancedXposed.sh
      - name: Releasing APK files
        id: release-RVxposed
        if: steps.check-gh-RVxposed.outputs.internet_error == '0'
        uses: ./.github/actions/release

